.report-popup {
  background-color: var(--grey);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 2px var(--box-shadow);
  position: relative;
  object-fit: cover;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  padding: var(--component-padding);
}

.report-popup-header {
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--headline-font-size);
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  top: 15px;
  margin-bottom: 4px;
}

.report-popup-field {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--normal-font-weight);
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  top: 15px;
}

.report-popup-input {
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  position: relative;
  box-shadow: 0 2px 4px var(--box-shadow);
  height: 20px;
  width: 210px;
  top: 15px;
}

.report-popup-input:focus,
.report-popup-input:hover,
.report-popup-input:active,
.report-popup-textarea:focus,
.report-popup-textarea:hover,
.report-popup-textarea:active {
  outline: none;
}

.report-popup-textarea {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px var(--box-shadow);
  border: none;
  width: 210px;
  height: 100px;
  top: 15px;
  overflow: hidden;
  resize: none;
}

.report-popup-button {
  background-color: var(--red);
  border-radius: 5px;
  border-style: hidden;
  position: relative;
  box-shadow: 0 2px 4px var(--box-shadow);
  margin-top: 6px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
}

.report-popup-field,
.report-popup-input,
.report-popup-textarea {
  font-family: var(--font-family);
  font-weight: var(--normal-font-weight);
}

.report-popup-field,
.report-popup-header,
.report-popup-button-label {
  font-size: 14px;
}

.report-popup-input,
.report-popup-textarea {
  font-size: var(--text-font-size);
}

.report-popup-button-label {
  color: var(--white);
}