html {
  height: 100%;
}

body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.hub {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 9vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
}

.hub span:nth-child(2) {
  background: #f82c00;
  color: #000000;
  border-radius: 1vw;
  padding: 0 1vw 1vw 1vw;
  display: inline-block;
}

