.post-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  z-index: 10;
}

.post-menu {
  background-color: var(--grey);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 2px var(--box-shadow);
  height: 108px;
  position: relative;
  object-fit: cover;
  width: 150px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  z-index: 10;
}

.post-menu-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-share-image, .post-save-image, .post-report-image {
  top: 10px;
  height: 16px;
  left: 20px;
  object-fit: cover;
  position: relative;
  width: 15px;
}

.post-share-text, .post-save-text, .post-report-text {
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--headline-font-size);
  font-weight: 400;
  height: 25px;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 360px;
  top: 11px;
}

.post-share-text {
  left: -110px;
}

.post-save-text {
  left: -114px;
}

.post-report-text {
  left: -109px;
}

@media (max-width: 1024px) {
  .post-menu {
    margin-bottom: -100px;
    left: 650px;
    gap: 0;
    z-index: 10;
  }
}

@media (max-width: 412px) {
  .post-menu {
    height: 85px;
    margin-bottom: -85px;
    top: -200px;
    left: 255px;
    width: 125px;
    gap: 0;
    z-index: 10;
  }
  .post-menu-text {
    gap: 0;
  }
  .post-share-text {
    left: -120px;
  }
  .post-save-text {
    left: -122px;
  }
  .post-report-text {
    left: -118px;
  }
  .post-share-text, .post-save-text, .post-report-text {
    font-size: 12px;
    line-height: 24px;
    top: 5px;
  }
  .post-share-image, .post-save-image, .post-report-image {
    top: 5px;
  }
}