# IntelliJ IDEA
.idea/workspace.xml
.idea/shelf
.idea/intellij-javadocs-4.0.1.xml
.idea/modules.xml
.idea/dataSources
.idea/dataSources.local.xml
.idea/dataSources.xml
/.idea/DHBWhub.iml
/.idea/uiDesigner.xml

# VS Code
.vscode/

# Project files
dhbwhub.iml

# Java
target/
out/

# Secrets
.env
keystore.p12
