.google-form {
    width: 750px;
    height: 830px;
    border: none;
    overflow: hidden;
    margin: -10px -20px 20px;
}

.contact-content {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

@media (max-width: 412px) {
    .google-form {
        width: 392px;
        height: 1050px;
        margin: 0;
    }
}