.contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
}

.google-form {
    width: 100%;
    height: 820px;
    margin-top: -50px;
    border: none;
    overflow: hidden;
}