.create-post {
  background-color: var(--dark-component);
  border-radius: 27px;
  height: 80px;
  position: relative;
  width: 850px;
}

.create-post-2 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  left: 258px;
  position: absolute;
  top: 115px;
  width: 814px;
}

.profile-picture {
  background-image: url(../assets/profile-picture.png);
  height: 50px;
  object-fit: cover;
  position: relative;
  width: 45.45px;
}

.text-area {
  height: 50px;
  position: relative;
  width: 593px;
}

.overlap-group-7 {
  background-size: 100% 100%;
  height: 50px;
  position: relative;
  width: 591px;
}

.default-text {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  left: 28px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 15px;
  transform: rotate(0.02deg);
  white-space: nowrap;
  width: 359px;
}

.button-create-post {
  height: 50px;
  position: relative;
  width: 140px;
}

.create-post-text {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 20px;
  font-weight: 600;
  left: 10px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 13px;
  transform: rotate(0.04deg);
  white-space: nowrap;
  width: 118px;
}

.overlap-16 {
  background-color: #e3001b;
  border-radius: 15px;
  height: 50px;
  position: relative;
  width: 138px;
}