.infos {
  background-image: url(../assets/infos-background.svg);
  height: 150px;
  margin-right: -6px;
  position: relative;
  width: 286px;
}

.overlap-5 {
  background-color: var(--dark-component);
  border-radius: 27px;
  height: 150px;
  position: relative;
  width: 280px;
}

.contact-text {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 18px;
  font-weight: 600;
  left: 62px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 62px;
  white-space: nowrap;
}

.privacy-policy-text {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 18px;
  font-weight: 600;
  left: 62px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
}

.faq-text {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 18px;
  font-weight: 600;
  left: 62px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.faq-symbol {
  background-image: url(../assets/faq-symbol.png);
  height: 25px;
  width: 25px;
  left: 15px;
  top: 15px;
  object-fit: cover;
  position: absolute;
}

.contact-symbol {
  background-image: url(../assets/contact-symbol.png);
  height: 30px;
  width: 30px;
  left: 15px;
  top: 55px;
  object-fit: cover;
  position: absolute;
}

.privacy-policy-symbol {
  background-image: url(../assets/privacy-policy-symbol.png);
  height: 25px;
  width: 25px;
  left: 15px;
  top: 105px;
  object-fit: cover;
  position: absolute;
}