.logo {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 7vw;
  position: relative;
  top: 250px;
  left: 650px;
  transform: translate(-80%, -80%);
  float: left;
}

.logo span:nth-child(2) {
  background: #FF9900;
  color: #000000;
  border-radius: 1vw;
  padding: 0 1vw 1vw 1vw;
  display: inline-block;
}