.darkBG {
    background-color: #3B454F;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textfield {
    position: fixed;
    text-align: center;
    background-color: #FFFFFF;
    border: #CCCCCC;
}

.modal {
    width: 345px;
    height: 586px;
    background: #3B454F;
    color: #3B454F;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px #3B454F;
}

.modalHeader {
    height: 50px;
    background: #3B454F;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

.signInContent {
    text-align: center;
    color: #989494;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #3B454F;
    text-align: center;
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}