.post-background {
  background-color: var(--dark-component);
  border-radius: 25px;
  height: 200px;
  position: relative;
  width: 850px;
}


.overlap-group-wrapper {
  height: 180px;
  margin-right: -2px;
  position: relative;
  width: 282px;
}

.calendar-entry {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  height: 60px;
  left: 50px;
  position: absolute;
  top: 0;
}

.tags {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  height: 19px;
  position: relative;
}

.tag {
  height: 24px;
  margin-bottom: -5px;
  position: relative;
  width: 47px;
}

.post {
  background-image: url(../assets/post-background.svg);
  height: 170px;
  left: 258px;
  position: absolute;
  top: 775px;
  width: 800px;
}

.menu-button {
  height: 5px;
  left: 781px;
  position: absolute;
  top: 10px;
  width: 19px;
}

.ellipse-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 3.52px/3.47px;
  height: 7px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 7px;
}

.ellipse-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 3.52px/3.47px;
  height: 7px;
  left: 6px;
  position: absolute;
  top: -1px;
  width: 7px;
}

.ellipse-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 3.52px/3.47px;
  height: 7px;
  left: 13px;
  position: absolute;
  top: -1px;
  width: 7px;
}

.interaction-stats {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 24px;
  left: 652px;
  position: absolute;
  top: 117px;
  width: 148px;
}

.stats {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  margin-bottom: -0.28px;
  position: relative;
  width: 147px;
}

.likes {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  height: 24.23px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.98px;
  position: relative;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 60.89px;
}

.comments {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  height: 24.23px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -19.31px;
  margin-top: -0.96px;
  position: relative;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 99.39px;
}

.interaction-symbols {
  align-items: flex-start;
  display: flex;
  gap: 61px;
  height: 25px;
  left: 661px;
  position: absolute;
  top: 87px;
  width: 112px;
}

.heart-symbol {
  background-image: url(../assets/heart-symbol.png);
  height: 22.68px;
  object-fit: cover;
  position: relative;
  width: 25px;
}

.comment-symbol {
  background-image: url(../assets/comment-symbol.png);
  height: 25px;
  object-fit: cover;
  position: relative;
  width: 25px;
}

.overlap-9 {
  height: 164px;
  left: 181px;
  position: absolute;
  top: 0;
  width: 361px;
}

.seperator {
  background-image: url(../assets/seperator.svg);
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 142px;
  width: 155px;
}

.post-infos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 164px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.title {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  height: 24.23px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.86px;
  position: relative;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 358.88px;
}

.tags-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.tag-2 {
  height: 26px;
  position: relative;
  width: 92px;
}

.label-wrapper {
  background-image: url(../assets/tag-1-background.svg);
  background-size: 100% 100%;
  height: 26px;
  position: relative;
  width: 90px;
}

.label {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 2px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 59px;
}

.tag-3 {
  height: 26px;
  margin-right: -2px;
  position: relative;
  width: 92px;
}

.tag-label-wrapper {
  background-image: url(../assets/tag-2-background.svg);
  background-size: 100% 100%;
  height: 26px;
  position: relative;
  width: 90px;
}

.tag-label {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  left: 22px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 2px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 47px;
}

.short-description {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 12px;
  font-weight: 600;
  height: 50.67px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  transform: rotate(0.05deg);
  width: 359.09px;
}

.author-date {
  color: #ffffffb2;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 12px;
  font-weight: 600;
  height: 18.92px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -0.9px;
  position: relative;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 154.93px;
}

.image-example {
  height: 170px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 151px;
}

.post-2 {
  height: 170px;
  left: 258px;
  position: absolute;
  top: 555px;
  width: 800px;
}

.seperator-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 142px;
  width: 140px;
}

.overlap-group-4 {
  background-image: url(../assets/tag-1-background.svg);
  background-size: 100% 100%;
  height: 26px;
  position: relative;
  width: 90px;
}

.tag1 {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 30px;
}

.overlap-10 {
  background-image: url(../assets/tag-2-background.svg);
  background-size: 100% 100%;
  height: 26px;
  position: relative;
  width: 90px;
}

.homepage .label-3 {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 1px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 62px;
}

.overlap-11 {
  background-image: url(../assets/tag-3-background.svg);
  background-size: 100% 100%;
  height: 26px;
  position: relative;
  width: 90px;
}

.tag3 {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 600;
  left: 33px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 24px;
}

.text-wrapper-23 {
  color: #ffffffb2;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 12px;
  font-weight: 600;
  height: 19px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -0.92px;
  position: relative;
  white-space: nowrap;
  width: 140px;
}

.post-infos-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.post {
  background-image: url(../assets/post-background.svg);
  height: 170px;
  left: 258px;
  position: absolute;
  top: 775px;
  width: 800px;
}

.menu-button {
  height: 5px;
  left: 781px;
  position: absolute;
  top: 10px;
  width: 19px;
}

.ellipse-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 3.52px/3.47px;
  height: 7px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 7px;
}

.picture {
  background-image: url(../assets/image-example.svg);
  height: 170px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 151px;
}