.searchbar {
  background-image: url(../assets/searchbar-background.svg);
  background-size: 100% 100%;
  height: 46px;
  position: relative;
  width: 548px;
}

.searchbar .text-wrapper {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  left: 21px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 10px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 359px;
}

.search-icon {
  background-image: url(../assets/search-icon.svg);
  height: 20px;
  left: 512px;
  position: absolute;
  top: 13px;
  width: 18px;
}