.sort-options {
  border-radius: 27px;
  height: 100px;
  position: relative;
  width: 210px;
  margin-bottom: 100px;
}

.div-wrapper {
  background-image: url(../assets/sort-options-background.svg);
  height: 100px;
  position: relative;
  width: 210px;
}

.popular {
  margin-left: 50px;
}

.popular-label {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 160px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 54px;
}

.popular-text {
  color: #ffffff;
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-size: 8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
  width: 97px;
}

.popular-picture {
  background-image: url(../assets/popular-picture.png);
  height: 25px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 118px;
  width: 25px;
}

.following {
  margin-left: 50px;
}

.following-label {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 60px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 70px;
}

.following-picture {
  background-image: url(../assets/following-picture.png);
  height: 23px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 25px;
}

.following-text {
  color: #ffffff;
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-size: 8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 60px;
  transform: rotate(0.05deg);
  width: 75px;
}

.newest {
  margin-left: 50px;
}

.newest-label {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 20px;
  transform: rotate(0.05deg);
  white-space: nowrap;
  width: 70px;
}

.newest-text {
  color: #ffffff;
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-size: 8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 20px;
  transform: rotate(0.05deg);
  width: 75px;
}

.newest-picture {
  background-image: url(../assets/newest-picture.png);
  height: 25px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 25px;
}