.saved-posts {
  background-color: var(--component-grey);
  border-radius: var(--border-radius);
  padding: var(--component-padding);
  position: relative;
}

.saved-posts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 235px;
}

.saved-post {
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-weight: var(--strong-font-weight);
  background-color: var(--grey);
  border-radius: 10px;
  padding: 10px;
  width: 210px;
  line-height: 24px;
  position: relative;
  transition: var(--transition);
  &&:hover {
    background-color: var(--dark-red);
  }
}

.saved-posts-link {
  color: transparent;
}

@media (max-width: 1024px) {
  .saved-posts-list {
    width: auto;
    max-width: 400px;
    max-height: 160px;
    padding-right: 20px;
    overflow: hidden;
  }
  .saved-post {
    width: 160px;
  }
}

@media (max-width: 820px) {
  .saved-posts-list {
    width: 740px;
    height: 50px;
  }
}

@media (max-width: 412px) {
  .saved-posts {
    height: auto;
    width: 360px;
    padding: 15px;
    margin-top: -5px;
  }
  .saved-post {
    width: 155px;
  }
  .saved-posts-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 350px;
    height: auto;
    max-height: 230px;
    margin-top: 20px;
  }
}