.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  margin-top: -50px;
  gap: 20px;
  justify-content: center;
  display: flex;
  position: relative;
}

.sidebar-left, .sidebar-right {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.middle-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .body {
    margin-top: -60px;
    gap: 10px;
    flex-direction: column;
  }
}