.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  gap: 20px;
  align-items: flex-start;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.sidebar-left, .sidebar-right, .middle-content {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.middle-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .homepage-content {
    margin-top: -60px;
    gap: 10px;
    flex-direction: column;
  }
}