.search-content {
  gap:20px;
  align-items:flex-start;
  display:inline-flex;
  justify-content:center;
  position:relative;
}

.search-sidebar {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.search-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  position: relative;
}

@media (max-width: 412px) {
  .search-results {
    margin-left: 20px;
    margin-top: -5px;
  }
}