.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

.search-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1650px;
}

.search-sidebar {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.search-results {
  padding-left: 40px;
  padding-right: 40px;
  width: 920px;
}