.search-content {
  gap:20px;
  align-items:flex-start;
  display:inline-flex;
  justify-content:center;
  position:relative;
}

.search-sidebar {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

