.post {
  background-color: var(--component-grey);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 780px;
  padding: var(--component-padding);
}

.post-button {
  color: transparent;
}

.post-image {
  width: auto;
  height: auto;
  max-width: 260px;
  max-height: 170px;
  min-height: 170px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  border-radius: 10px;
  &&:hover {
    filter: brightness(75%);
    transition: var(--transition);
  }
}

.post-menu-points {
  background: transparent;
  border: none;
  height: 20px;
  position: absolute;
  white-space: nowrap;
  width: 20px;
  right: 20px;
}

.post-infos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 170px;
  position: absolute;
  width: 400px;
}

.post-share-container {
  margin-top: 10px;
}

.post-title, .short-description, .footer {
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  position: relative;
}

.post-title {
  color: var(--white);
  font-size: var(--headline-font-size);
  text-underline: none;
  margin-top: 0;
  margin-bottom: 0;
  &&:hover {
    color: var(--light-grey);
  }
}

.post-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}

.short-description {
  font-size: var(--text-font-size);
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  color: var(--light-grey);
  font-size: var(--text-font-size);
  white-space: nowrap;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.home-post-interaction {
  position: relative;
  margin-right: 20px;
}

.post-menu-container {
  position: relative;
  top: -170px;
  margin-bottom: -108px;
  margin-left: 645px;
}

@media (max-width: 412px) {
  .post {
    width: 350px;
    height: 250px;
    margin-right: 20px;
  }
  .home-post-interaction {
    position: relative;
    top: -100px;
    right: 20px;
  }
  .post-menu-container {
    top: -190px;
    margin-bottom: -85px;
    margin-left: 0;
  }
  .post-infos {
    width: 220px;
    gap: -20px;
  }
  .post-title {
    margin-top: -10px;
    margin-left: 20px;
  }
  .short-description {
    width: 220px;
    height: 100px;
    margin-left: 20px;
  }
  .post-image {
    max-width: 125px;
    height: auto;
    margin-top: -45px;
    margin-left: -10px;
  }
  .post-tags {
    flex-direction: column;
    position: absolute;
    top: 40px;
    margin-left: -120px;
    gap: 5px;
  }
  .post-menu-points {
    height: 15px;
    width: 15px;
    right: 30px;
    margin-top: -10px;
  }
  .footer {
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .post {
    width: 320px;
    height: 220px;
  }
  .post-infos {
    width: 200px;
  }
  .short-description {
    width: 180px;
  }
  .post-image {
    margin-top: -55px;
  }
}