.post {
  background-color: var(--component-grey);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: var(--component-padding);
}

.post-button {
  color: transparent;
}

.post-image {
  height: 170px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.post-menu-points {
  background: transparent;
  border: none;
  height: 20px;
  position: absolute;
  white-space: nowrap;
  width: 20px;
  right: 20px;
}

.post-infos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 170px;
  position: relative;
  width: 340px;
}

.post-title, .short-description, .footer {
  font-family: var(--font-family);
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  position: relative;
}

.post-title {
  color: var(--white);
  font-size: var(--headline-font-size);
  text-underline: none;
  margin-top: 0;
  margin-bottom: 0;
  &&:hover {
    color: var(--light-grey);
  }
}

.post-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}

.short-description {
  color: var(--white);
  font-size: var(--text-font-size);
  height: 50px;
  width: 430px;
  margin-top: 0;
  margin-bottom: 0;
}

.interaction-stats, .interaction-symbols {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.interaction-stats {
  gap: 30px;
  top: 140px;
  left: 120px;
  padding-right: 20px;
}

.interaction-symbols {
  gap: 85px;
  top: 105px;
  left: -65px;
}

.like-button {
  background-size: cover;
  background: none;
  border: none;
}

.footer {
  color: var(--light-grey);
  font-size: var(--text-font-size);
  white-space: nowrap;
  margin-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 412px) {
  .post {
    width: 350px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .short-description {
    width: 220px;
    height: 70px;
  }
  .post-image {
    height: 100px;
    width: 80px;
    margin-top: -50px;
  }
  .post-tags {
    flex-direction: column;
    position: absolute;
    margin-top: 110px;
    margin-left: -100px;
    gap: 5px;
    margin-bottom: 0;
  }
  .post-infos {
    width: 250px;
  }
  .interaction-stats {
    left: -90px;
    margin-top: 40px;
    margin-right: 120px;
  }
  .interaction-symbols {
    gap: 50px;
    top: 150px;
    left: -360px;
  }
  .post-menu-points {
    height: 15px;
    width: 15px;
    right: 40px;
  }
}