.report-popup {
  background-color: #2C353D;
  border-radius: 25px;
  box-shadow: 0 2px 2px #000000;
  position: relative;
  object-fit: cover;
  width: 250px;
  height: 280px;
  z-index: 10;
  top: 184px;
  left: 575px;
}

.report-popup-element-wrapper {
  margin-left: 15px;
  margin-top: 15px;
}

.report-popup-header {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  height: 25px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 360px;
  top: 15px;
  margin-bottom: 4px;
}

.report-popup-field {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 500px;
  top: 15px;
}

.report-popup-input {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 210px;
  top: 15px;
}

.report-popup-input:focus,
.report-popup-input:hover,
.report-popup-input:active,
.report-popup-textarea:focus,
.report-popup-textarea:hover,
.report-popup-textarea:active {
  outline: none;
}

.report-popup-textarea {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);;
  border: none;
  width: 210px;
  height: 100px;
  top: 15px;
  overflow: hidden;
  resize: none;
}

.report-popup-button {
  background-color: #e3001b;
  border-radius: 5px;
  border-style: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
}

.report-popup-field,
.report-popup-input,
.report-popup-textarea {
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-weight: 500;
}

.report-popup-field,
.report-popup-header {
  font-size: 14px;
}

.report-popup-input,
.report-popup-textarea {
  font-size: 12px;
}

.report-popup-button-label {
  color: #ffffff;
  font-size: 14px;
}