.share {
  background-color: #2C353D;
  border-radius: 20px;
  box-shadow: 0 2px 2px #000000;
  width: 350px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 280px;
  margin-top: -20px;
  z-index: 9;
}

.share > * {
  margin: 5px;
  margin-top: 8px;
}

.copy-link-button {
  background-image: url(../../../../../public/assets/home/post/copy.svg);
  width: 32px;
  height: 32px;
  margin-left: 12px;
  margin-top: 8px;
  border: none;
  border-radius: 50%;
}

.windows-share-button {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-top: 8px;
  border: none;
  border-radius: 50%;
}

.share-dots {
  font-size: 24px;
  margin-top: -12px;
}