.calendar-entry {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  height: 60px;
  left: 50px;
  position: absolute;
}

.event-title {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  top: 5px;
  position: absolute;
  white-space: nowrap;
  left: 4px;
  &&:hover {
    color: var(--light-grey);
  }
}

.address {
  color: var(--light-grey);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  top: 62%;
  transform: translate(0, -62%);
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
  width: 128px;
  left: 4px;
}

.event-tags {
  bottom: -16px;
  display: flex;
  gap: 5px;
  position: absolute;
  left: 4px;
}

.event-link {
  text-decoration: none;
}

.month {
  color: var(--white);
  font-family: "Source Sans Pro-Bold", Helvetica, serif;
  font-size: 13px;
  font-weight: 700;
  left: 50%;
  line-height: 24px;
  position: absolute;
  text-shadow: 0 4px 4px #00000040;
  top: 20%;
  transform: translate(-50%, -20%);
  white-space: nowrap;
  width: 24px;
}

.day {
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--title-font-size);
  font-weight: var(--strong-font-weight);
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.date {
  height: 65px;
  left: -50px;
  position: absolute;
  top: 10px;
  width: 44px;
}

.date-background {
  background-color: var(--grey);
  border: 1px solid var(--red);
  border-radius: 5px;
  box-shadow: 0 4px 4px var(--box-shadow);
  height: 65px;
  position: relative;
  transition: var(--transition);
  &&:hover {
    background-color: var(--dark-red);
  }
}

.event-tag-button {
  color: transparent;
}