.events {
  align-items: flex-start;
  display: inline-flex;
  height: 430px;
  width: 290px;
  position: relative;
  background-color: var(--component-grey);
  border-radius: var(--border-radius);
  padding: var(--component-padding);
}

.events-layout {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin-top: 30px;
  padding-bottom: var(--component-padding);
}

.event {
  height: 65px;
  position: relative;
}

@media (max-width: 1024px) {
  .events {
    width: 670px;
    margin-top: 10px;
  }
}

@media (max-width: 412px) {
  .events {
    width: 350px;
    height: auto;
    margin-top: 0;
  }
  .events-layout {
    margin-top: 20px;
  }
}