.privacy-policy-content {
  font-size: var(--headline-font-size);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: var(--component-grey);
  width: 1400px;
}