.privacy-policy-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.privacy-policy-content {
  color: var(--white);
  font-size: var(--headline-font-size);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 25px;
  background-color: var(--grey);
  width: 1400px;
}