:root {
  background-color: #151719;
  color: var(--white);
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;

  --grey: #32363b;
  --lighter-grey: #575e67;
  --component-grey: #25282c;
  --red: #e3001b;
  --dark-red: #831525;
  --white: #ffffff;
  --editor-hover: #eee;
  --light-grey: #ffffffb2;
  --placeholder-grey: #999;
  --box-shadow: #000000;
  --black: #000000;

  --text-font-size: 0.75rem;
  --description-font-size: 0.875rem;
  --headline-font-size: 1rem;
  --title-font-size: 1.125rem;
  --strong-font-weight: 600;
  --normal-font-weight: 500;

  --transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  --component-padding: 1.25rem;

  --border-radius: 1.5625rem;
}

.error, .loading {
  font-size: 24px;
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  white-space: nowrap;
  text-align: center;
}

.author-link {
  text-decoration: none;
  color: var(--light-grey);
  font-size: var(--text-font-size);
  font-weight: var(--strong-font-weight);
  &&:hover {
    color: var(--white);
  }
}

.component-headline {
  color: var(--white);
  font-size: var(--headline-font-size);
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.profile-picture {
  border-radius: var(--border-radius);
  height: 50px;
  width: 50px;
  object-fit: cover;
  position: relative;
}

.loading-animation {
  width: 100px;
  height: 100px;
}

.error-animation {
  margin-top: -20px;
  width: 500px;
  height: 500px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  color: var(--white);
}

.navigate-back-link {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 20px;
}

.navigate-back-vector {
  width: 10px;
  height: 15px;
  margin-top: -4px;
}

.navigate-back-rectangle {
  width: 10px;
  height: 3px;
  margin-top: 2px;
}

.navigate-back-text {
  color: var(--white);
  position: relative;
  margin-top: -9px;
  margin-left: 10px;
  font-size: 22px;
}

.alert-danger {
  color: var(--red);
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  :root {
    --text-font-size: 0.625rem;
    --headline-font-size: 0.875rem;
    --title-font-size: 1rem;
  }
}

@media (max-width: 412px) {
  body {
    margin-bottom: 80px;
  }
  :root {
    --text-font-size: 0.6rem;
    --headline-font-size: 0.8rem;
    --border-radius: 0.9375rem;
  }
  .component-headline {
    margin-top: -10px;
  }
}