.post-detail-body {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-detail-comments-wrapper {
  position: relative;
}

@media (max-width: 412px) {
  .post-detail-body {
    gap: 10px;
  }
}