.report-popup {
  width: 220px;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 2px var(--box-shadow);
  position: relative;
  object-fit: cover;
  z-index: 10;
  padding: var(--component-padding);
  display: inline-flex;
  flex-direction: column;
  gap: -10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.report-form {
  position: relative;
  object-fit: cover;
  z-index: 10;
  display: inline-flex;
  flex-direction: column;
}

.report-error {
  color: var(--red);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 24px;
  position: relative;
  margin-top: 10px;
}

.report-popup-header {
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--title-font-size);
  font-weight: var(--strong-font-weight);
  line-height: 24px;
  position: relative;
  margin-bottom: 10px;
}

.report-popup-field {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--normal-font-weight);
  line-height: 24px;
  position: relative;
}

.report-popup-input {
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  position: relative;
  box-shadow: 0 2px 4px var(--box-shadow);
  height: 20px;
}

.report-popup-input:focus,
.report-popup-input:hover,
.report-popup-input:active,
.report-popup-textarea:focus,
.report-popup-textarea:hover,
.report-popup-textarea:active {
  outline: none;
}

.report-popup-textarea {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px var(--box-shadow);
  border: none;
  height: 100px;
  overflow: hidden;
  resize: none;
}

.report-popup-button {
  background-color: var(--red);
  border-radius: 5px;
  border-style: hidden;
  position: relative;
  box-shadow: 0 2px 4px var(--box-shadow);
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-popup-field,
.report-popup-input,
.report-popup-textarea {
  font-family: var(--font-family);
  font-weight: var(--normal-font-weight);
}

.report-popup-field,
.report-popup-header,
.report-popup-button-label {
  font-size: 14px;
}

.report-popup-input,
.report-popup-textarea {
  font-size: var(--text-font-size);
}

.report-popup-button-label {
  color: var(--white);
}