.user-component {
    font-size: var(--headline-font-size);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: var(--grey);
    width: 356px;
}
.user-name {
    font-size: var(--headline-font-size);
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--lighter-grey);
    width: auto;
}
.user-course {
    font-size: var(--headline-font-size);
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--lighter-grey);
    width: auto;
}

.user-followers {
    font-size: var(--headline-font-size);
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--red);
    width: auto;
}
.user-follow {
    font-size: var(--headline-font-size);
    padding: 10px;

    align-items: center;
    border-radius: 5px;
    background-color: var(--red);
    width: auto;
}

