.header {
  align-items: center;
  background-color: #262D34;
  display: flex;
  gap: 50px;
  position: relative;
  margin-bottom: 75px;
}

.header-content {
  align-items: center;
  display: flex;
  gap: 50px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.home-background {
  background-image: url(../../assets/header/home.svg);
  height: 45px;
  width: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.home-background.active {
  background-image: url(../../assets/header/home-active.svg);
}

.friends-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.friends-background {
  background-image: url(../../assets/header/friends.svg);
  height: 45px;
  width: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.friends-background.active {
  background-image: url(../../assets/header/friends-active.svg);
}

.calendar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
}

.calendar-background {
  background-image: url(../../assets/header/calendar.svg);
  height: 45px;
  width: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.calendar-background.active {
  background-image: url(../../assets/header/calendar-active.svg);
}

.notifications-button,
.notifications-button-new {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
}

.notifications-background,
.notifications-new-background {
  height: 45px;
  width: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.notifications-button {
  background-image: url(../../assets/header/notifications.svg);
}

.notifications-button-new {
  background-image: url(../../assets/header/notifications-dot.svg);
}

.profile-component {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.profile-picture-header {
  background-image: url(../../assets/header/header-profile.png);
  height: 50px;
  border: 2px solid #E3001B;
  border-radius: 10px;
  position: relative;
  width: 50px;
}

.username {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 18px;
  margin-left: 60px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.arrow-down {
  background-image: url(../../assets/header/arrow-down.svg);
  height: 10px;
  margin-left: 100px;
  position: relative;
  width: 14px;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
}

.sign-up-wrapper {
  background-color: #2C353D;
  border: 1px solid #E3001B;
  border-radius: 10px;
  height: 40px;
  position: relative;
  width: 100px;
}

.sign-up-text {
  color: #ffffff;
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-size: 18px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 78px;
}