.logo {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  color: #ffffff;
  float: left;
}

.logo span:nth-child(2) {
  background: #ff0000;
  color: #ffffff;
  border-radius: 0.5vw;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  display: inline-block;
}