.searchbar {
  background-color: #2C353D;
  border-radius: 15px;
  height: 45px;
  position: relative;
  width: 548px;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-field {
  border: none;
  background: transparent;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 500;
  left: 21px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 6px;
  width: 480px;
  height: 34px;
  color: white;
}

.input-field:focus,
.input-field:hover,
.input-field:active {
  outline: none;
}

.input-field::placeholder {
  color: #ffffff;
  font-family: "Source Sans Pro-SemiBold", Helvetica, serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 300px;
}

.search-icon {
  background-image: url(../../../../../public/assets/home/header/search-icon.svg);
  height: 20px;
  left: 512px;
  position: absolute;
  top: 13px;
  width: 18px;
}