.sort-options {
  background-color: var(--component-grey);
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--component-padding);
}

.newest, .popular, .following {
  background-color: var(--grey);
  border-radius: 15px;
  border-style: none;
  width: 235px;
  height: 45px;
  transition: var(--transition);
  &&:focus, &&:active {
    background-color: var(--red);
  }
  &&:hover {
    background-color: var(--dark-red);
  }
}

.following-label, .following-text, .popular-label, .popular-text, .newest-label, .newest-text {
  color: var(--white);
  font-family: var(--font-family);
  position: absolute;
  line-height: 24px;
  margin-left: 40px;
}

.popular-text, .following-text, .newest-text {
  font-size: var(--text-font-size);
  font-weight: 400;
  white-space: nowrap;
  margin-top: -15px;
}

.popular-label, .following-label, .newest-label {
  font-size: var(--headline-font-size);
  font-weight: var(--strong-font-weight);
  margin-top: -30px;
}

.newest-picture, .following-picture, .popular-picture {
  object-fit: cover;
  position: relative;
  width: 25px;
  left: -94px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .sort-options {
    flex-direction: row;
    padding: 10px;
  }
}

@media (max-width: 820px) {
  .sort-options {
    flex-direction: row;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 412px) {
  .sort-options {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .popular-text, .following-text, .newest-text {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .newest, .popular, .following {
    width: 116px;
    height: 45px;
  }
  .following-label, .popular-label, .newest-label {
    margin-top: -26px;
    margin-left: 35px;
  }
  .newest-picture, .following-picture, .popular-picture {
    left: -40px;
  }
}

@media (max-width: 390px) {
  .sort-options {
    width: 100%;
  }
}
