.comment {
  background-color: var(--component-grey);
  border-radius: var(--border-radius);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1200px;
  padding: var(--component-padding);
  position: relative;
}

.comment-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.comment-text, .comment-author-date {
  position: relative;
  line-height: 24px;
}

.comment-text {
  position: relative;
  left: 20px;
  width: 800px;
  font-size: var(--headline-font-size);
  font-weight: var(--normal-font-weight);
}

.comment-author-date {
  color: var(--light-grey);
  font-size: var(--text-font-size);
  font-weight: var(--strong-font-weight);
  white-space: nowrap;
}

.comment-share-window {
  z-index: 10;
  position: absolute;
  left: 690px;
  top: 90%;
}

.comment-menu-button {
  right: 15px;
  top: 10px;
  position: absolute;
  background: none;
  border: none;
}

.comment-interaction {
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  position: absolute;
}

@media (max-width: 412px) {
  .comment {
    width: 350px;
    height: 80px;
  }
  .comment-text {
    left: 20px;
    top: 80px;
    width: 80%;
  }
  .comment-interaction {
    top: 60px;
    right: 0;
    position: absolute;
  }
}