.modalHeader {
    padding: 20px;
    height: 50px;
    color: white;
    background: var(--component-grey);
    font-size: 24px;
    font-weight: 700;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

.heading {
    margin-top: 10px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
}

.form-group {
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
    width: calc(90% - 10px);
}

.modal-content {
    width: 400px;
    height: 620px;
    background: var(--component-grey);
    color: var(--component-grey);
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px var(--box-shadow);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.checkbox input[type="checkbox"]:hover + .MuiSvgIcon-root,
.checkbox input[type="checkbox"]:focus + .MuiSvgIcon-root,
.checkbox input[type="checkbox"]:checked + .MuiSvgIcon-root,
.checkbox input[type="checkbox"]:checked:hover + .MuiSvgIcon-root,
.checkbox input[type="checkbox"]:checked:focus + .MuiSvgIcon-root {
    color: red;
}
.form-control {
    width: 100%;
    height: 40px;
    margin: 20px auto;
    display: block;
    background-color: var(--white);
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}

.forgot-password-option {
    margin-top: 10px;
    margin-left: 20px;
    color: #AAA4A4;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.forgot-password-option-text {
    color: #AAA4A4;
    font-size: 16px;
}

.remember-me-option {
    margin-top: 10px;
    margin-left: 20px;
    color: #AAA4A4;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.loading-btn {
    width: 100%;
    height: 40px;
    background: #E3001B;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.signup-option {
    margin-top: 20px;
    text-align: center;
}

.signup-option-text {
    color: #989494;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.signup-option-text-link {
    color: #989494;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
}

.google-oauth-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}