.profile-container {
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  text-align: center;
  background-color: var(--component-grey);
  margin: 0 auto;
}

.profile-page-picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-page-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-page-picture input {
  display: none;
}

.followers {
  margin: 20px 0;
}

.followers-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.profile-field {
  margin: 30px 0;
}

.profile-field label {
  display: block;
  color: white;
  margin-bottom: 10px;
}

.profile-field span,
.profile-field input {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.profile-field button {
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.label-profile-page-text {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
