.profile-container {
  background-color: var(--component-grey);
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  text-align: center;
}

.profile-picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-picture {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-picture input {
  display: none;
}

.followers {
  margin: 10px 0;
}

.followers-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.profile-field {
  margin: 20px 0;
}

.profile-field label {
  display: block;
  color: white;
  margin-bottom: 5px;
}

.profile-field span,
.profile-field input {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.profile-field button {
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.label-profile-page-text {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}