.profile-container {
  border-radius: 10px;
  padding: 30px;
  width: 400px; /* Vergrößere die Breite des Containers */
  text-align: center;
  background-color: var(--component-grey);
  margin: 0 auto; /* Zentriert den Container auf der Seite */
}

.profile-picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px; /* Erhöht den Abstand unter dem Bild */
}

.profile-picture {
  margin-bottom: 80px; /* Erhöht den Abstand zum nächsten Element */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-picture input {
  display: none;
}

.followers {
  margin: 20px 0; /* Erhöht den Abstand oben und unten */
}

.followers-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Erhöht die Polsterung für mehr Platz */
  cursor: pointer;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Erhöht die Polsterung für mehr Platz */
  cursor: pointer;
  margin-top: 20px; /* Erhöht den Abstand über dem Button */
}

.profile-field {
  margin: 30px 0; /* Erhöht den Abstand oben und unten */
}

.profile-field label {
  display: block;
  color: white;
  margin-bottom: 10px; /* Erhöht den Abstand unter dem Label */
}

.profile-field span,
.profile-field input {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px; /* Erhöht die Polsterung für mehr Platz */
  width: calc(100% - 20px); /* Verkleinert die Breite, um Platz für die Polsterung zu schaffen */
  margin-bottom: 10px; /* Erhöht den Abstand unter dem Eingabefeld */
}

.profile-field button {
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Erhöht die Polsterung für mehr Platz */
  cursor: pointer;
  margin-top: 10px; /* Erhöht den Abstand über dem Button */
}

.label-profile-page-text {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}