.modalHeader {
    height: 50px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-color: var(--component-grey);
}

.modalHeadline {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.heading {
    padding: 10px;
    color: var(--white);
    font-weight: var(--normal-font-weight);
    font-size: var(--title-font-size);
    background-color: var(--component-grey);
    border: none;
    text-align: left;
    position: relative;
    left: 0;
    transform: none;
    margin: 0 0 0 -9px;
}

.form-control {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: var(--white);
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}

.forgot-password-option {
    width: 100%;
    height: 100%;
}

.forgot-password-option-text {
    color: #AAA4A4;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.remember-me-checkbox {
    width: 100%;
    height: 100%;
}

.signup-option-text {
    color: #989494;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.remember-me-text {
    color: white;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.loading-btn {
    width: 100%;
    height: 100%;
    background: #E3001B;
    border-radius: 5px;
}

.btn-text {
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}