.modalHeader {
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.heading {
    padding: 0 20px;
    margin-top: 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.form-control {
    width: calc(100% - 40px);
    height: 40px;
    margin: 0 auto 20px;
    display: block;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}

.forgot-password-option {
    margin-top: 10px;
    color: #AAA4A4;
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
}

.forgot-password-option-text {
    color: #AAA4A4;
    font-size: 16px;
    font-family: Inter;
}

.remember-me-option {
    margin-top: 10px;
    color: #AAA4A4;
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
}

.loading-btn {
    width: calc(100% - 40px);
    height: 40px;
    background: #E3001B;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.alert alert-danger {
    color: #E3001B;
}

.signup-option {
    margin-top: 20px;
    text-align: center;
}

.signup-option-text {
    color: #989494;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
}