.darkBG {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.signup-textfield {
    width: 100%;
    position: relative;
    text-align: center;
    color: var(--white);
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}

.signup-modal {
    width: 345px;
    height: 620px;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px var(--box-shadow);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.signup-modal-header {
    height: 50px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.signup-heading {
    padding: 10px;
    color: var(--white);
    font-weight: var(--normal-font-weight);
    font-size: var(--title-font-size);
    text-align: left;
    position: relative;
    left: 0;
    transform: none;
    margin: 0 0 0 -9px;
}

.paragraph {
    margin: 0;
    color: var(--white);
    text-align: left;
    position: relative;
    left: 0;
    transform: none;
}

.signup-content {
    text-align: center;
    color: #989494;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
}

.signup-wrapper {
    border: 1px solid var(--red);
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 89px;
    transition: var(--transition);
    background-color: var(--component-grey);
    & &:hover {
        background-color: var(--dark-red);
    }
}

.signup-text {
    color: var(--white);
    font-family: var(--font-family);
    font-size: var(--title-font-size);
    font-weight: 400;
    left: 7px;
    line-height: 24px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 59px;
}

.login-link {
    display: inline;
}

@media (max-width: 412px) {
    .signup-wrapper {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}