.verification-modal-content {
  top: 50%;
  width: 400px;
  height: 350px;
  background: var(--component-grey);
  color: var(--component-grey);
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px var(--box-shadow);
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-input {
  width: 41px;
  height: 41px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.auth-input:focus {
  border-color: var(--dark-red);
  outline: none;
}

.verificationModalHeadline {
  margin-top: 20px;
}